header {
	color: red; 
	height : 80px;
	background-color: blue;
	color: white;
	text-align: center;
	line-height: 80px;
	font-size: 30px;
	height: 80px;
}

nav {
	height: 60px;
	background-color: lightblue;
	color: white;
	padding-left: 20px;
	line-height: 60px;
}