<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
 <settings>
 	<setting name="jdbcTypeForNull" value="NULL"/>
 </settings>
 <typeAliases>
 	<typeAlias type="test1.jdbckh.member.model.dto.MemberDto" alias="MemberDto"/>
 </typeAliases>
 <environments default="development1">
 	<environment id="development1">
 	<transactionManager type="JDBC"></transactionManager>
 	<dataSource type="POOLED">
 		<property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
		<property name="url" value="jdbc:oracle:thin:@127.0.0.1:1521:xe"/>
		<property name="username" value="jbj"/>
		<property name="password" value="jbj"/>
 	</dataSource>
 	</environment>
 </environments>
 <mappers>
 	<mapper resource="mappers/member-mapper.xml"/>
 </mappers>
</configuration>
