<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member1">

	<resultMap type="MemberDto" id="MemberMap">
		<id property="custNo" column="CUSTNO" />
		<result property="custName" column="CUSTNAME" />
		<result property="phone" column="PHONE" />
		<result property="address" column="ADDRESS" />
		<result property="joinDate" column="JOINDATE" />
		<result property="grade" column="GRADE" />
		<result property="city" column="CITY" />
	</resultMap>

	<select id="selectList0"  resultMap="MemberMap">
		SELECT CUSTNO, CUSTNAME, PHONE, ADDRESS, to_char(JOINDATE, 'YYYY/MM/DD') AS JOINDATE, GRADE, CITY
		FROM CUSTOMER_INFO
	</select>
	<select id="selectOne0" resultMap="MemberMap" parameterType="_int">
		SELECT CUSTNO, CUSTNAME, PHONE, ADDRESS, to_char(JOINDATE, 'YYYY/MM/DD') AS
		JOINDATE, GRADE, CITY
		FROM CUSTOMER_INFO
		WHERE CUSTNO = #{a}
	</select>
	
 	<insert id="insert0" parameterType="MemberDto">
	INSERT INTO CUSTOMER_INFO
	VALUES (seq_no.nextval, #{custName}, #{phone}, #{address}, to_date(#{joinDate}, 'YYYY-MM-DD'), #{grade}, #{city})
	</insert> 
	<update id="update0" parameterType="MemberDto">
	UPDATE CUSTOMER_INFO SET CUSTNAME=#{custName}, PHONE=#{phone}, ADDRESS=#{address},
	JOINDATE=#{joinDate}, GRADE=#{grade}, CITY=#{city} WHERE CUSTNO = #{custNo}
	</update>


</mapper>
